@media (min-width: 375px) {
    html {
        font-size: calc(0.375rem + ((1vw - 3.75px) * 0.2589));
        min-height: 0vw;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 10px;
    }
}

footer {
    background-color: #3f3c7c;
}

footer .logo {
    width: 100px;
}

.Myfooter .footerNav {
    font-size: 2rem;
}

.Myfooter .footerNav .item {
    color: white;
    text-decoration: none;
    margin: 2rem;
}