@charset "UTF-8";

/* ページ全体の設定 */
body{
    margin: 0;
    font-family: sans-serif;
}

.page-title{
    color: #f0a000;
    padding: 0 15px;
}

/* 年選択 */
select{
    border: none;
    appearance: none;
    width: 100%;
    padding: 0 10px 0 20px;
    line-height: 2;
    outline: none;
    background-image: none;
}

.filter{
    width: 100px;
    margin: 0 40px 0 auto;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
    position: relative;
}

.filter::before {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
/* === */

.contents{
    margin: 0;
    list-style: none;
    padding: 5% 40px;
    background-clip: content-box;
    background-color: #F7F6F2;
}

.box{
    width: calc(100% + 80px);
    margin: 30px -40px;
}

.flex{
    display: flex;
}

.name{
    font-size: 22px;
    margin: -16px 0 8px;
    font-family: "Yu Mincho","Hiragino Mincho ProN","Hiragino Mincho Pro";
    font-weight: bold;
}

.thema{
    margin: 8px 0;
    font-family: "Yu Mincho","Hiragino Mincho ProN","Hiragino Mincho Pro";
}

.date{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Old Standard TT', serif;
}


.exhibition-title{
    color: midnightblue;
    background-color: #F0E5CF;
}

.pic{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 1s all;
}


/* 奇数番目 */
.box:nth-child(2n+1) .margin{
    width: 35%;
}

.box:nth-child(2n+1) .exhibition-title{
    width: 30%;
    text-align: right;
    position: relative;
    display: inline-block;
    padding-right: 50%;
    margin: -20% 0 0;
    margin-left: 0;
}

/* ===== */

/* 偶数番目 */
.box:nth-child(2n) .margin{
    width: 35%;
    position: relative;
}

.box:nth-child(2n) .exhibition-title{
    width: 30%;
    text-align: left;
    position: relative;
    display: inline-block;
    padding-left: 50%;
    margin: -20% 0 0 20%;
}

.box:nth-child(2n) .date{
    margin-left: -10%;
}
/* ===== */


/* 画像ズーム */
.zoom{
    width: 65%;
    z-index: 1000;
    overflow: hidden;
    margin: 0 auto;
}
.contents a{
    color: inherit;
    text-decoration: none;
}
.pic:hover{
    transform: scale(1.2, 1.2);
    transition: 1s all;
}
/* ===== */


/* PAGINATION */  
.pagination{
    padding: 30px 0;
    font-size: 14px;
}
  
.pagination ul{
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
.pagination a{
    text-decoration: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0 5px;
    text-align: center;
    color: midnightblue;
    background-color: #F9F8EB;
    border-radius: 100%;
  }
  
  .pagination a.is-active{
    background-color: midnightblue;
    border-radius: 100%;
    color: #fff;
  }
  /* === */

@media (min-width: 800px) {
    .contents{
        display: flex;
        flex-wrap: wrap;
        margin: 0 3%;
    }

    .filter{
        margin: 0 calc(3% + 40px) 0 auto;
    }

    .box{
        width: 50%;
    }

    .box:nth-child(2n+1){
        margin-right: 40px;
    }
    .box:nth-child(2n){
        margin-left: 40px;
        margin-top: 15%;
    }
}

  
@media (min-width: 1100px) {
    .pic{
        height: 400px;
    }

}

@media (min-width: 1500px) {
    .pic{
        height: 600px;
    }

}

