@media (min-width: 280px) {
    html {
        font-size: calc(0.5rem + ((1vw - 2.8px) * 0.122));
        min-height: 0vw;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 10px;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    /* position: fixed; */
    background-color:#fff;
    z-index: 2;
}

.header .logo {
    width: max(8vw,100px);
    margin-right: auto;
}


.header .headerNav .item {
    color: #000;
    text-decoration: none;
    margin: 10px;
    text-align: center;
    font-size : 16px;
}

.header .headerNav .active {
    color: #ffffff;
    background: #3f3c7c;
    border-radius: 100vw;
    margin: 0.6vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    padding-left: 0.9vw;
    padding-right: 0.9vw;
}

.background {
    background-color: #3f3c7c;
}

.heading {
    background-color: #3F3C7C;
    width: 100%;
    height: auto;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.rect {
    display: inline-block;
    /* position: absolute; */
    width: 100vw;
    /* margin: 0 calc(50% - 50vw); */
    background-color: #3F3C7C;
    z-index: -1;
}

.heading_title {
    font-size: 10rem;
    font-weight: bold;
    color: #3F3C7C;
    -webkit-text-stroke: 2px #ffffff;
}

.small_heading {
    color: #ffffff;
    font-size: 2rem;
    margin: 0;
}

.heading_text {
    color: #ffffff;
    font-size: 3rem;
}

.contents {
    background-color: #ffffff;
    position: relative;
}

.image {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

.image_text {
    color: #ffffff;
    width: 100%;
    /* font-size: calc(1rem + ((1vw - 0.3rem) * 1.5625)); */
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.contents_caption {
    font-size: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

.pillar {
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, 0);
}

footer {
    background-color: #3f3c7c;
}

footer .logo {
    width: 100px;
}

.Myfooter .footerNav {
    font-size: 2rem;
}

.Myfooter .footerNav .item {
    color: white;
    text-decoration: none;
    margin: 2rem;
}